body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a; /* Dark background color */
    overflow: hidden;
}

.particle-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.particle {
    width: 490px;
    height: 490px;
    background-color: #ff0084; /* Pink color for particles */
    position: absolute;
    animation: moveParticle 10s linear infinite, changeColor 5s alternate infinite;
}

@keyframes moveParticle {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0, 0);
