body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1a; /* Dark background color */
    overflow: hidden;
}

.particle-container {
    position: absolute;
